.commandModal {
    overflow-y: auto;
}

.order-container
{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 6%;
    padding-right: 6%;
    overflow-x: scroll;
    font-family: 'Sora', sans-serif;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
    font-size: 11px;
}
tr:nth-child(even){background-color: #f2f2f2}

td
{
    height: 60px;
}


/* custom bootstrap */
.modal-body
{
    font-size: 11px !important;
    padding-left: 7%;
    padding-right: 7%;
}

.select_status
{
    font-size: 12px !important;
    margin-top: 8px;
}

.delete_order
{
    margin-right: auto;
}

.edit-button
{
    height: 33px !important;
    font-size: 12px !important;
    width: 60px !important;
}

td
{
    max-width: 90px !important;
    padding-left: 7px;
    padding-right: 7px;
    overflow: hidden;
}

b.Pending,
b.Canceled,
b.Confirmed
{
    display: flex;
    width: 75px;
    font-size: 10px;
    font-weight: 600;
    height: 30px;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 6px;
    opacity: 0.8;
}

b.Pending
{
    background-color: rgb(241, 141, 47);
}
b.Canceled
{
    background-color: rgb(220, 41, 68);
}
b.Confirmed
{
    background-color: rgb(109, 189, 69);
}