/* Ajoutez ces styles pour la fenêtre modale */
.modal {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fond semi-transparent */
}

.modal-content {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #23104d;
    padding: 20px 80px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

/* Ajoutez ces styles pour le bouton close */

.modal-buttons
{
    width: 100%;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-between;
}

.modal-content button {
    background-color: #dac615;
    color: #fff; /* Couleur du texte du bouton */
    padding: 10px;
    width: 100px;
    height: 42px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Sora', sans-serif;
    font-weight: 600;
}

.cancelar
{
    background-color: #ffffff00 !important;
    border: 1px solid white !important;
}

.cancelar:hover,
.cancelar:active,
.cancelar:focus
{
    background-color: #ffffff !important;
    color: rgb(31, 31, 31);
    border: 1px solid white !important;
}

.modal-content button:hover,
.modal-content button:focus,
.modal-content button:active {
    transition: 0.2s;
    cursor: pointer;
    background-color: #a5971a;
}

/* Ajoutez ces styles pour les labels et les champs de saisie */
.modal-content label,
.modal-content input {
    display: block;
    margin-bottom: 5px;
    text-align: left;
}

.modal-content label
{
    width: 100%;
    font-family: 'Sora', sans-serif;
    font-weight: 400;
    font-size: 11px;
    color: white;
    margin-top: 10px;
    margin-bottom: 8px;
}

.modal-content input
{
    width: 250px;
    height: 30px;
    border: 1px solid rgb(234, 234, 234, 0.8);
    border-radius: 5px;
    background: none;
    color: rgb(255, 255, 255, 0.6);
    padding-left: 10px;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

.modal-content input:active
{
    outline: none;
}


/* Messages */

.alert-danger {
    color: #fff;
    background-color: #ed3f3fbd;;

    width: 100%;
    line-height: 18px;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center !important;

    margin-bottom: 35px;
    margin-top: -25px;
    padding-left: 30px;
    padding-right: 30px;

    border: 1px solid #ffffff6e;
    border-radius: 2px;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 12px;
}

/* Style pour les messages de succès */
.alert-success {
    color: #fff;
    background-color: #21ab4fbd;

    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center !important;

    margin-bottom: 35px;
    margin-top: -25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;

    border: 1px solid #ffffff6e;
    border-radius: 2px;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 13px;
}

.alert-error {
    color: #fff;
    background-color: #bf2f43bd;

    width: 100%;
    display: flex;
    align-self: center;
    justify-content: center;
    align-items: center;
    text-align: center !important;

    margin-bottom: 35px;
    margin-top: -25px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;

    border: 1px solid #ffffff6e;
    border-radius: 2px;
    font-family: 'Sora', sans-serif;
    font-weight: 300;
    font-size: 13px;

}

/* animations */ 

.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}